.sidebar{
    min-width: 200px;
    max-width: 200px;
    min-height: calc(100vh - 97px);
    transition: all 0.3s;
}
.sidebar ul li a{
    display: block;
    padding: 0.75rem 1rem;
    color: #c7cace;
    text-decoration: none;
}
.sidebar ul li a:hover, .sidebar ul .active a{
    color: #ecedee;
    background-color: #7850dc;
}
.sidebar ul ul a{
    padding-left: 2.5rem;
    background-color: #1e2835;
}
/*Seletor utilizado para ativar o botão ocultar menu em PC*/ 
.sidebar.toggled{
    margin-left: -200px;
}

@media (max-width: 768px){
    .sidebar{
        margin-left: -200px;
    }
    .sidebar.toggled{
        margin-left: 0px;
    }
}
